<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<form method="post" action="/user">
    <div>
        <label>Username
            <input type="text" name="username" >
        </label>
    </div>
    <div>
        <label>E-mail
            <input type="email" name="email" >
        </label>
    </div>
    <div>
        <label>Password
            <input type="password" name="password" >
        </label>
    </div>
    <div>
        <label>Verify Password
            <input type="password" name="verify" >
        </label>
    </div>

    <p th:text="${error}"></p>

    <input type = 'submit' value = 'Sign Up'>
</form>

</body>
</html>